<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Oxygen:300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
	<title>Welcome to Bob's</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="assets/js/burger.js"></script>
</head>

<body class="bg-image">
	{{{ body }}}
</body>

</html>